@using Strata.Helpers
@model PaginatedList<SoftwareLicense>
@{
    ViewData["Title"] = "Software Licenses";
    var prevDisabled = !Model.HasPreviousPage ? "disabled" : "";
    var nextDisabled = !Model.HasNextPage ? "disabled" : "";
    var startItem = ((Model.PageIndex - 1) * Model.PageSize) + 1;
    var endItem = startItem + Model.Count - 1;
}

<div class="d-flex justify-content-between mb-3">
    <h3 class="fw-bold">Software Licenses</h3>
    <a asp-controller="SoftwareLicense" asp-action="Create" class="btn btn-primary d-flex align-items-center gap-1">
        <svg xmlns="http://www.w3.org/2000/svg" width="18" height="18" viewBox="0 0 24 24" fill="none"
             stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
             class="lucide lucide-plus-icon lucide-plus">
            <path d="M5 12h14" />
            <path d="M12 5v14" />
        </svg>
        <span>Create</span>
    </a>
</div>

<form asp-action="Index" method="get" class="row g-2 mb-3">
    <div class="col-12 col-md-5">
        <input type="text" name="searchString" value="@ViewData["CurrentFilter"]" class="form-control"
               placeholder="Search license" />
    </div>

    <div class="col-12 col-md-3">
        <select name="isActive" class="form-select">
            <option value="">All</option>
            <option value="true" selected="@(ViewData["CurrentStatus"]?.ToString() == "True")">Active</option>
            <option value="false" selected="@(ViewData["CurrentStatus"]?.ToString() == "False")">Inactive</option>
        </select>
    </div>

    <div class="col-12 col-md-1 d-grid">
        <button type="submit" class="btn btn-primary">Search</button>
    </div>
</form>

<div class="card mb-3">
    <div class="card-body table-responsive">
        <table class="table table-hover">
            <thead>
                <tr>
                    <th scope="col">Name</th>
                    <th scope="col">Description</th>
                    <th scope="col">Expiration Date</th>
                    <th scope="col">Qty</th>
                    <th scope="col">Brand</th>
                    <th scope="col">Category</th>
                    <th scope="col">Created At</th>
                    <th scope="col">Created By</th>
                    <th scope="col">Status</th>
                    <th scope="col">Actions</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var license in Model)
                {
                    <tr>
                        <td class="align-content-center">@license.Name</td>
                        <td class="align-content-center">@license.Description</td>
                        <td class="align-content-center">@license.ExpirationDate?.ToString("MM/dd/yyyy")</td>
                        <td class="align-content-center">@license.Quantity</td>
                        <td class="align-content-center">@license.Brand?.Name</td>
                        <td class="align-content-center">@license.Category?.Name</td>
                        <td class="align-content-center">@license.CreatedAt.ToString("MM/dd/yyyy")</td>
                        <td class="align-content-center">@license.CreatedBy</td>
                        <td class="align-content-center">
                            <span class="badge rounded-pill @(license.IsActive ? "bg-success bg-opacity-10 text-success" : "bg-secondary bg-opacity-10 text-secondary")">
                                @(license.IsActive ? "Active" : "Inactive")
                            </span>
                        </td>
                        <td>
                            <a class="btn btn-secondary btn-sm" asp-action="Edit" asp-route-id="@license.Id">Edit</a>
                            <a class="btn btn-primary btn-sm" asp-action="DetailsConfirmation" asp-route-id="@license.Id">View</a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>

<div class="align-items-center justify-content-between d-sm-block d-lg-flex">
    @if (Model.TotalCount == 0)
    {
        <p class="text-muted mb-2 small">
            Showing 0 entries
        </p>
    }
    else
    {
        <p class="text-muted mb-2 small">
            Showing @startItem to @endItem of @Model.TotalCount entries
        </p>
    }

    @if (Model.TotalPages > 1)
    {
        <nav aria-label="License pagination">
            <ul class="pagination pagination-sm justify-content-center">
                <li class="page-item @prevDisabled">
                    <a class="page-link" asp-action="Index" asp-route-pageNumber="@(Model.PageIndex - 1)"
                       asp-route-searchString="@ViewData["CurrentFilter"]"
                       asp-route-statusFilter="@ViewData["CurrentStatus"]">Previous</a>
                </li>

                @for (int i = 1; i <= Model.TotalPages; i++)
                {
                    <li class="page-item @(i == Model.PageIndex ? "active" : "")">
                        <a class="page-link" asp-action="Index" asp-route-pageNumber="@i"
                           asp-route-searchString="@ViewData["CurrentFilter"]"
                           asp-route-statusFilter="@ViewData["CurrentStatus"]">@i</a>
                    </li>
                }

                <li class="page-item @nextDisabled">
                    <a class="page-link" asp-action="Index" asp-route-pageNumber="@(Model.PageIndex + 1)"
                       asp-route-searchString="@ViewData["CurrentFilter"]"
                       asp-route-statusFilter="@ViewData["CurrentStatus"]">Next</a>
                </li>
            </ul>
        </nav>
    }
</div>